<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    $(document).ready(function(){

      calculateTotalPrice();

      $("#count").change( function(){
        calculateTotalPrice();
      });
    });

    function calculateTotalPrice(){ // 현재 주문할 수량과 상품 한 개당 가격을 곱해서 결제 금액을 구해주는 함수이다.
      var count = $("#count").val();
      var price = $("#price").val();
      var totalPrice = price*count;
      $("#totalPrice").html(totalPrice + '원');
    }

    function order(){
      // 스프링 시큐리티를 사용할 경우 기본적으로 POST 방식의 데이터 전송에는 CSRF 토큰 값이 필요하므로 해당 값을 조회한다.
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/order";
      var paramData = { // 주문할 상품의 아이디와 주문 수량 데이터를 전달할 객체를 생성한다.
        itemId : $("#itemId").val(),
        count : $("#count").val()
      };

      var param = JSON.stringify(paramData); // 서버에 보낼 주문 데이터를 json으로 변경한다.

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json", // 서버에 데이터를 보낼 형식을 json으로 지정한다.
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json", // 서버에서 결과값으로 받을 데이터 타입을 json으로 설정한다.
        cache   : false, // 주문 로직 호출이 성공하면 "주문이 완료되었습니다."라는 메시지를 보여주고 메인 페이지로 이동한다.
        success  : function(result, status){
          alert("주문이 완료되었습니다.");
          location.href='/';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){ // 현재 로그인 상태가 아니라면 "로그인 후 이용해주세요"라는 메시지를 보여주고 로그인 페이지로 이동한다.
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText); // 주문 시 에러가 발생하면 해당 메시지를 보여준다.
          }

        }
      });
    }

    function addCart(){
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/cart";
      var paramData = {
        itemId : $("#itemId").val(),
        count : $("#count").val()
      };

      var param = JSON.stringify(paramData);

      $.ajax({
        url      : url,
        type     : "POST",
        contentType : "application/json",
        data     : param,
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          alert("상품을 장바구니에 담았습니다.");
          location.href='/';
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseText);
          }

        }
      });
    }

  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .repImgDiv{
      height:auto;
      padding: 10px;
    }
    .repImg{
      width:100%;
      height:100%;
    }
    .pricetag {
      float: left;
    }
    .prictagEnd {
      clear: both;
    }
    .itemDtlContainer {
      padding: 10px;
    }
  </style>
</th:block>

<div layout:fragment="content">

  <input type="hidden" id="itemId" th:value="${item.id}">

  <div class="d-flex justify-content-around align-items-center">

    <div class="repImgDiv">
      <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg " th:alt="${item.itemNm}">
    </div>

    <div class="itemDtlContainer">
      <span style="color: #ffffff;" th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge bg-danger">판매중</span>
      <span style="color: #ffffff;" th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge btn-secondary">품절</span>

      <div class="display-7 mb-3" th:text="${item.itemNm}"></div>

      <div class="text-right">
        <div class="display-8 text-left" style="color: #bd2130">
          <input type="hidden" th:value="${item.price}" id="price" name="price">
          <span th:text="${item.price}"></span>원
        </div>
        <div class="input-group w-50 mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">수량</span>
          </div>
          <input type="number" name="count" id="count" class="form-control" value="1" min="1">
        </div>
      </div>

      <div class="text-right pricetagContainer">
        <p class="pricetag">예상 결제 금액 :&nbsp;<p>
        <p name="totalPrice" id="totalPrice" class="font-weight-bold pricetag"> </p>
        <p class="prictagEnd"></p>
      </div>

      <div>
        <div th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}">
          <button type="button" class="btn btn-light border-primary" onclick="addCart()">장바구니</button>
          <button type="button" class="btn btn-primary" onclick="order()">주문하기</button>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="jumbotron jumbotron-fluid mt-3">
    <div class="container">
      <h4 class="display-7 text-center" th:text="${item.itemNm}">상품 이름</h4>
      <p class="lead" ></p>
    </div>
  </div>

  <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center mb-3">
    <!-- 등록된 상품 이미지를 반복 구문을 통해 보여주고 있다. -->
    <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
  </div>

  <div>
    <div class="container mt-3">
      <!-- <h5 class="display-8 text-center">상품 상세 설명</h5> -->
      <hr class="my-4">
      <p class="lead text-center" th:text="${item.itemDetail}"></p>
    </div>
  </div>

</div>

</html>